body{
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-size: small;
    color: black;
    background-color: white;
}

body a{
    text-decoration: none;
    color:rgb(19, 98, 118);
}

body h1,h2{
    font-family: "Times New Roman", Times, serif;
    color: rgb(90, 90, 90);
}

body img{
    border: none;
}

#content{
    margin-left: 40px;
    margin-top:40px;
    margin-bottom: 30px;
}

.input label{ /*Cake php form helper labels*/
    color:rgb(100, 100, 100);
    width: 135px;
    float:left;
    size: 1.1em;
}

.input{ /*Cake php*/
    margin-bottom: 8px;
}

.error-message{ /*Part of the cakephp form helper. This class sets the form errors*/
    color:rgb(200, 50, 50);
    margin-top: 5px;
    width: 200px;
}

.message{ /*Cakephp messages. Sets any flash messages*/
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(200, 50, 50);
}

.votearrows{
    float: left;
    clear: left;
    margin-right: 10px;
}

.votearrows img{
    display:block;
    clear:both;
}

.votearrows a:focus, .votearrows a:active{
    outline: 0;
}

/*----------------Header-----------------*/

#header{
    border-bottom: 3px  solid rgb(0, 129, 163);
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

#header a{
    text-decoration: none;
    color: rgb(100, 138, 30);
}

#menu{
    float: right;
    padding: 82px 0px 0px 0px;
}

#beta{
    position: absolute;
    left: 250px;
}

/*--------------Login Page--------------*/

#loginpage{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 540px;
    height: 500px;
}

#forgotpassword{
    color:black;
    size: 1.1em;
}

#register{
    width:275px;
    float: right;
    border-left: 1px solid #999;
    padding-left: 45px;
}

#login{
    border: 1px solid white; /*Both login and register need borders so they line up*/
    width: 200px;
}

/*--------------Selected Topic-----------*/

#selectedtopic{
    padding: 0px 10px 10px 10px;
    margin: 0px 0px 80px 0px;
    font-size: 1.1em;
    border-left: 10px solid rgb(80, 80, 80);
    border-bottom: 1px outset rgb(80,80,80);
    color: black;
}

#morepuzzelsbutton{
    float: right;
    position: relative;
    top: 15px;
}

/*---------------Submissions----------------*/

#submissionmenu{

}

#submissions{
    margin: 0px 0px 40px 0px;
}

.submission{
    background: rgb(247, 247, 247);
    padding: 12px 0px 12px 12px ;
    margin: 3px 0px 10px 0px;
    border: 1px solid  rgb(175,175,175);
    -moz-border-radius: 3px; /*firefox and webkit only*/
    -webkit-border-radius: 3px;
}

.submission a{
    color: rgb(32, 161, 195);
    font-size: 1.3em;
}

#submissions .votearrows img{
    position: relative;
    top: -8px;    /*Slight adjustments so the arrows line up better*/
    left: -2px;
}

.submissionpreview{
    float: right;
    background: black;
    font-size: .25em;
    color: white;
    margin:0px 0px 0px 0px;
    padding: 0px;
    width: 255px;
    height:88px;
    overflow: hidden;
    border: 2px solid rgb(50, 50, 50);
    border-top: 2px solid rgb(150, 150, 150);
    border-left: 2px solid rgb(75, 75, 75);
    border-right:2px solid rgb(0,0,0);
    border-bottom:2px solid rgb(0,0,0);;
}

.submissionstats{
    margin:20px 0px 10px 0px;
}


.submissionmeta a:hover{
    text-decoration: underline;
}

#SubmissionAddForm .input{
    width: 100px;
}

#SubmissionAddForm textarea{
    width: 600px;   
}

#SubmissionAddForm label{
    float: left;
    width: 150px;
    clear:right;
    color:rgb(100, 100, 100);
    size: 1.1em;
}

#SubmissionTitle{
    width: 600px;
}

/*-------View Submission-----*/

#viewsubmission{
}

#viewsubmissionhead {
    margin-left: 0px;
    margin-bottom:50px;
    margin-top: 40px;
    font-size: 1.1em;
    border: 2px outset rgb(230,230,230);
    padding: 10px;
    -moz-border-radius: 5px; /*firefox and webkit only*/
    -webkit-border-radius: 5px;
}

#viewsubmissionhead .votearrows{
    position: relative;
    bottom: 9px;
}

#viewsubmissionheadtitle{

}

#viewsubmissionhead p{
    font-size: 1.1em;
}

#viewsubmissioncode{
    margin: 40px 15px 10px 0px;
    background: rgb(230,230,230);
    border: 1px solid rgb(150, 150, 150);
}

#commentsform{
    margin-left: 0px;
}

/*----------Topics------------------*/

/*Topics and puzzles are synonyms. The site
  used to use 'disscussion topics' as a metaphor for 
  puzzels but I decided to stop that. The code still
  uses that terminology.*/
  
#topics .votearrows{
 position:relative;   
 top:4px;
 right: 3px;
}

.topic a{
    color: rgb(32, 161, 195);
    font-size: 1.4em;
}

.topic{
    margin-bottom: 10px;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
    border: 1px dotted #999;
    -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}

#TopicAddForm .input{
    width: 200px;
}

#TopicAddForm textArea{
    width:600px;
}

#TopicTitle{
    width: 600px;
}
/*----------Footer------------------*/

#footer{
    text-align: center;
    margin: 60px, 0px, 0px, 0px;
    clear:right;
}

#footer a:hover{
    text-decoration: underline;
}

#footerlinks{
    margin-bottom: 10px;
}

#footerlegal a{
    font-size: .90em;
}

/*--------meta data----------------*/
/*
I put meta data down here so that it has preference
when the meta data is embeded in divs or spans
*/

.meta{
    color: rgb(100, 100, 100);
    font-size: 1em;
}

.meta a{
    color: rgb(100, 100, 100);
    font-size: 1em;
}

.meta a:hover{
    text-decoration: underline;
}
